.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

:global(.vtex-store-footer-2-x-footerLayout){
  margin-top: 10px;
}

:global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  justify-content: left;
}

/* display grid para el top footer */
:global(.vtex-flex-layout-0-x-flexRow--fondo)
:global(.vtex-flex-layout-0-x-flexCol){
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

:global(.vtex-flex-layout-0-x-flexRow--fondo)
:global(.vtex-flex-layout-0-x-flexColChild){
  padding: 20px 0;
}
:global(.vtex-flex-layout-0-x-flexRow--fondo)
:global(.vtex-flex-layout-0-x-flexColChild):nth-child(odd){
  text-align: end;
  
}


:global(.vtex-flex-layout-0-x-flexRow--fondo)
:global(.vtex-flex-layout-0-x-flexColChild):nth-child(even){
  padding-right: 80px;
}

:global(.vtex-flex-layout-0-x-flexRow--fondo)
:global(.vtex-flex-layout-0-x-flexCol)
:global(.vtex-rich-text-0-x-paragraph--deals){
  font-weight: 100;
  color: rgba(0, 0, 0, 0.65);
  font-size: 13px;
  line-height: 13px;
}

/* estilo para el footer */
:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-store-components-3-x-imageElement) {
  width: 120px;
}

:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-menu-2-x-styledLinkContainer) {
  margin-left: 0px;
}

:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-menu-2-x-menuItem)
:global(.vtex-menu-2-x-styledLinkContent) {
  font-family: 'Share Tech', sans-serif;
  font-weight: bold;
  font-size: 13px;
}

.footerLayout{
  padding: 0 2rem;
  padding-bottom: 40px;
}